body {
	text-align: center;
}

img {
	width: 500px;
	height: 500px;
}

p {
	font-weight: bold;
}

.positive-message {
	color: green;
}

.negative-message {
	color: red;
}

.button-xlarge {
	font-size: 150%;
}
